/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Ovo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  font-family: sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  height: inherit;
}

@font-face {
  font-family: 'icomoon';
  src: url("/sass/fonts/icomoon.ttf.css");
  src: url("/sass/fonts/icomoon.eot.css#iefix") format("embedded-opentype"), url("/sass/fonts/icomoon.woff.css") format("woff");
}

* {
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src: url("./fonts/icomoon.ttf.css");
  src: url("./fonts/icomoon.eot.css#iefix") format("embedded-opentype"), url("./fonts/icomoon.woff.css") format("woff");
}

.header {
  background-color: #9A7AA0;
}

.header__informations-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background-color: #614B65;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

@media (min-width: 1024px) {
  .header__informations-top--swiper {
    width: 720px;
  }
}

.header__informations-top--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .header__informations-top--text.swiper-slide {
    width: auto !important;
  }
}

.header__informations-top--text::after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #ffffff;
  display: inline-block;
  margin: 0 5px;
}

@media (max-width: 1024px) {
  .header__informations-top--text::after {
    display: none;
  }
}

.header__informations-top--text-highlight {
  text-align: center;
  font-weight: 700;
  margin-left: 5px;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .header__informations-top--text-highlight {
    white-space: nowrap;
  }
  .header__informations-top--text-highlight:nth-child(3) {
    margin-left: 0px;
  }
}

.header__informations-top--text-margin {
  font-weight: 300;
}

.header__informations-top--arrow {
  display: none;
}

@media (max-width: 1024px) {
  .header__informations-top--arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__informations-top--arrow::after {
  background-image: url(./assets/img/arrow.png);
  background-repeat: no-repeat;
  width: 9px;
  font-size: 10px;
  color: transparent;
}

.header__informations-top--arrow.swiper-button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .header__informations-top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu {
  background-color: #9A7AA0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1210px;
  width: 100%;
}

@media (max-width: 1024px) {
  .menu {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .menu {
    max-width: 900px;
    padding: 0;
    margin-bottom: 26px;
  }
}

@media (max-width: 1024px) {
  .menu__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 15px 10px;
    width: inherit;
  }
}

.menu__logo {
  padding: 22px 0;
}

@media (max-width: 1024px) {
  .menu__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
}

.menu__logo--text {
  font-family: "Ovo", serif;
  font-size: 3rem;
  line-height: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  max-width: 238px;
}

@media (max-width: 1024px) {
  .menu__logo--text {
    font-size: 2.25rem;
  }
}

.menu__hamburger {
  display: none;
}

@media (max-width: 1024px) {
  .menu__hamburger {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 100%;
  height: 80px;
  margin: 0 31px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1024px) {
  .menu__nav {
    display: none;
  }
}

.menu__nav-department-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 780px;
  height: 80px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu__nav-department-list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  height: 80px;
}

.menu__nav-department-list--item:hover {
  color: #302E2B;
}

.menu__nav-wrapper {
  position: relative;
  font-size: 0;
}

.menu__nav-wrapper:hover .menu__nav-wrapper-category {
  display: block;
}

.menu__nav-wrapper--category-item:hover .menu__nav-wrapper-subcategory {
  display: block;
}

.menu__nav-wrapper-category {
  display: none;
  position: absolute;
  top: 92%;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: none;
  background-color: #ffffff;
  max-width: 240px;
  width: 194px;
  border-top: 6px solid #614B65;
  -webkit-box-shadow: 2px 2px 5px #C4C4C4;
          box-shadow: 2px 2px 5px #C4C4C4;
  z-index: 5;
}

.menu__nav-wrapper-category--active {
  display: block;
}

.menu__nav-wrapper-category--color {
  background-color: #9A7AA0;
  min-width: 240px;
}

.menu__nav-wrapper-scrollbar {
  width: 240px;
  height: 280px;
  overflow: auto;
}

.menu__nav-wrapper-scrollbar::-webkit-scrollbar {
  width: 12px;
  background: #E5E3E2;
}

.menu__nav-wrapper-scrollbar::-webkit-scrollbar-thumb {
  background: #9A7AA0;
  border-radius: 33px;
}

.menu__nav-wrapper-subcategory {
  display: none;
  position: absolute;
  top: -115%;
  left: 100%;
  text-transform: none;
  background-color: #ffffff;
  max-width: 240px;
  width: 194px;
  border-top: 6px solid #614B65;
  -webkit-box-shadow: 2px 2px 5px #C4C4C4;
          box-shadow: 2px 2px 5px #C4C4C4;
}

.menu__nav-category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #302E2B;
  font-weight: 400;
  font-size: 0.8125rem;
  height: 40px;
  padding-left: 23px;
}

.menu__nav-category-list:hover {
  background-color: #f1f1f1;
}

.menu__nav-category-list--color {
  color: #ffffff;
}

.menu__nav-category-list--color:hover {
  background-color: #614B65;
}

.menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
  max-width: 135px;
  width: 100%;
}

@media (max-width: 1024px) {
  .menu__icon {
    display: none;
  }
}

.menu__icon--item {
  cursor: pointer;
}

.menu__icon-shopping-bag {
  display: none;
  width: 29px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 1024px) {
  .menu__icon-shopping-bag {
    display: block;
  }
}

.menu__mobile {
  z-index: 10;
  position: fixed;
  top: 0;
  left: -200%;
  height: 100vh;
  width: 100vw;
  background-color: #8080804f;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.menu__mobile::-webkit-scrollbar-thumb {
  background: #9A7AA0;
  border-radius: 33px;
}

.menu__mobile.active {
  left: 0;
}

.menu__mobile-wrapper {
  height: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 26px;
  background-color: #9A7AA0;
  border-bottom: 1px solid #ffffff;
}

.menu__mobile-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: transparent;
}

.menu__mobile-close--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 89px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 2px 5px #C4C4C4;
          box-shadow: 0 2px 5px #C4C4C4;
}

.menu__mobile-close--button-icon {
  width: 20px;
}

.menu__mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100vw - (80px));
  height: 100vh;
  background-color: rgba(250, 248, 248, 0.3);
  margin: 0;
  overflow: auto;
}

.menu__mobile-nav::-webkit-scrollbar {
  width: 0px;
}

.menu__mobile-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px 0 26px;
  height: 51px;
  width: calc(100vw - (80px));
  background-color: #9A7AA0;
  border-bottom: 1px solid #f1f1f1;
}

.menu__mobile-nav-wrapper-department {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #614B65;
}

.menu__mobile-nav-wrapper-category {
  background-color: #ffffff;
  border-bottom: 1px solid #C4C4C4;
}

.menu__mobile-nav-wrapper-category.focus {
  background-color: #f1f1f1;
}

.menu__mobile-nav-wrapper-subcategory {
  background-color: #E5E3E2;
  border-bottom: 1px solid #ffffff;
}

.menu__mobile-nav--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-decoration: none;
  font-weight: 700;
}

.menu__mobile-nav--item-user::before {
  content: url(./assets/img/user.png);
  margin-right: 12px;
}

.menu__mobile-nav--item-box::before {
  content: url(./assets/img/box.png);
  margin-right: 12px;
}

.menu__mobile-nav--item-bag::before {
  content: url(./assets/img/shopping-bag.png);
  margin-right: 12px;
}

.menu__mobile-nav--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 100%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.menu__mobile-nav--arrow-active .menu__mobile-nav-department--arrow {
  -webkit-transform: rotate(-0.5turn);
          transform: rotate(-0.5turn);
}

.menu__mobile-nav-department--item {
  text-transform: uppercase;
}

.menu__mobile-nav-category {
  display: none;
  font-size: 0;
}

.menu__mobile-nav-category--item {
  font-weight: 300;
  color: #614B65;
  margin-right: 19.5px;
}

.menu__mobile-nav-category--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.menu__mobile-nav-category--arrow.active .menu__mobile-nav-category--arrow-icon {
  -webkit-transform: rotate(-0.25turn);
          transform: rotate(-0.25turn);
}

.menu__mobile-nav-category.active-category {
  display: block;
}

.menu__mobile-nav-subcategory {
  display: none;
}

.menu__mobile-nav-subcategory--item {
  font-weight: 300;
  color: #614B65;
  margin-left: 14px;
}

.menu__mobile-nav-subcategory.active-subcategory {
  display: block;
}

.menu__search {
  display: none;
}

@media (max-width: 1024px) {
  .menu__search {
    display: block;
  }
}

.menu__search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 1px solid #614B65;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  height: 48px;
  max-width: 900px;
  width: calc(100vw - 30px);
}

.menu__search-input--text {
  font-family: "Mulish", sans-serif;
  border: none;
  outline: transparent;
  font-size: 0.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu__search-input--icon {
  background-color: #ffffff;
  background-image: url(./assets/img/loupe-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 25px;
  height: 25px;
}

@media (max-width: 1024px) {
  .highlight-banner__img {
    zoom: 1;
  }
}

.highlight-banner__arrow {
  margin: 0 133px;
  background-color: rgba(141, 148, 186, 0.3);
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .highlight-banner__arrow {
    background-color: transparent;
    margin: 0;
  }
}

.highlight-banner__arrow::after {
  color: #542D84;
}

@media (max-width: 1024px) {
  .highlight-banner__arrow::after {
    color: #ffffff;
  }
}

.highlight-banner__arrow.swiper-button-disabled {
  background-color: rgba(141, 148, 186, 0.1);
}

.highlight-banner__arrow.swiper-button-disabled::after {
  color: #8D94BA;
}

@media (max-width: 1024px) {
  .highlight-banner__arrow.swiper-button-disabled::after {
    color: #ffffff;
  }
}

.highlight-banner__dot .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.highlight-banner__dot .swiper-pagination-bullet-active {
  background-color: #8D94BA;
}

.highlights {
  background-color: #614B65;
}

.highlights__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  max-width: 1140px;
}

.highlights__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.highlights__information--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.01875rem;
}

.highlights__information--text-strong {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3625rem;
  text-transform: uppercase;
}

.highlights__information--arrow {
  display: none;
}

.highlights__information--arrow.swiper-button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.highlights__information--arrow::after {
  background-image: url(./assets/img/arrow.png);
  background-repeat: no-repeat;
  width: 9px;
  font-size: 10px;
  color: transparent;
}

@media (max-width: 1100px) {
  .highlights__information--arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.stones {
  margin-top: 44px;
  max-width: 1063px;
}

@media (max-width: 1024px) {
  .stones {
    margin-top: 25px;
    max-width: 1063px;
    padding: 0 41px;
  }
}

.stones__title {
  color: #5C5762;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.0375rem;
  text-transform: uppercase;
  text-align: center;
}

.stones__title--strong {
  font-weight: 700;
}

.stones__items {
  margin-top: 22px;
}

@media (max-width: 1024px) {
  .stones__items {
    margin-top: 9px;
  }
}

.stones__item--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #9A7AA0;
}

.stones__item--name {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 400;
  margin-top: 24px;
}

.stones__item--dots {
  margin-top: 33px;
  position: static;
}

@media (max-width: 1024px) {
  .stones__item--dots {
    margin-top: 19px;
  }
}

.stones__item--dots .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.stones__item--dots .swiper-pagination-bullet-active {
  background-color: #8D94BA;
}

.shelf {
  margin-top: 75px;
}

.shelf__title {
  color: #5C5762;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.0375rem;
  text-transform: uppercase;
  text-align: center;
}

.shelf__title--strong {
  font-weight: 700;
}

.shelf__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
  margin: 0 auto;
  margin-top: 21px;
  max-width: 1173px;
  overflow-y: visible;
}

@media (max-width: 1024px) {
  .shelf__products {
    max-width: 320px;
  }
}

.shelf__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  height: 515px;
}

.shelf__product.slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 19px;
}

.shelf__product--slick {
  width: 1173px;
}

.shelf__product--slick .slick-arrow {
  border: 0;
  font-size: 0;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  background-color: rgba(141, 148, 186, 0.3);
  background-image: url(/assets/img/swipper-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shelf__product--slick .slick-disabled {
  background-color: rgba(141, 148, 186, 0.1);
  opacity: 0.3;
}

.shelf__product--slick .slick-prev {
  left: -70px;
}

.shelf__product--slick .slick-next {
  right: -51px;
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.shelf__product--slick .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 44px;
}

.shelf__product--slick .slick-dots li button {
  border: 0;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.shelf__product--slick .slick-dots .slick-active button {
  background-color: #8D94BA;
}

.shelf__product--img {
  width: 240px;
  height: 240px;
}

.shelf__product--seals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 28px;
  background-color: #8D94BA;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.shelf__product--title {
  margin-top: 21px;
  text-align: center;
  color: #9A7AA0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.shelf__product--details {
  color: #9A7AA0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.shelf__product--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.shelf__product--price {
  color: #8D94BA;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.0625rem;
}

.shelf__product--buy-details {
  margin-top: 5px;
  color: #9A7AA0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
}

.shelf__product--button {
  margin-top: 24px;
  background-color: #749497;
  width: 100%;
  padding: 12px 0;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1150px;
  margin: 88px auto 0;
}

.main-banner__text {
  width: 38.6%;
  color: #9A7AA0;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
}

.main-banner__text--span {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
}

.main-banner__text--highlights {
  text-transform: uppercase;
  color: #8D94BA;
  font-family: "Ovo";
  font-weight: 400;
  font-size: 42px;
  line-height: 47px;
  margin-top: 11px;
}

.main-banner__text--content {
  margin-top: 15px;
}

.main-banner__text--button {
  background-color: #ffffff;
  border: 1px solid #8D94BA;
  border-radius: 10px;
  text-transform: uppercase;
  color: #8D94BA;
  font-size: 14px;
  line-height: 19px;
  margin-top: 40px;
  width: 133px;
  height: 38px;
}

.main-banner__container-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63.2%;
}

.main-banner__container-image--wrapper {
  width: 500px;
  height: auto;
}

.main-banner__container-image .slick-arrow {
  border: 0;
  font-size: 0;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  background-color: rgba(141, 148, 186, 0.3);
  background-image: url(/assets/img/swipper-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.main-banner__container-image .slick-disabled {
  background-color: rgba(141, 148, 186, 0.1);
  opacity: 0.3;
}

.main-banner__container-image .slick-prev {
  left: -70px;
}

.main-banner__container-image .slick-next {
  right: -70px;
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.main-banner__container-image .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 44px;
  cursor: pointer;
}

.main-banner__container-image .slick-dots li button {
  border: 0;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.main-banner__container-image .slick-dots .slick-active button {
  background-color: #8D94BA;
}

.product-highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin-top: 77px;
}

.product-highlights__element {
  position: absolute;
  width: 100vw;
  height: 274px;
  background-color: #B4EDD2;
}

.product-highlights__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 1267px;
  margin: 0 auto;
}

.product-highlights__text {
  width: 44.6%;
}

.product-highlights__text--title {
  margin-top: 28px;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  color: #3D4F46;
}

.product-highlights__text--subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #3D4F46;
  margin-top: 7px;
}

.product-highlights__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-highlights__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 518px;
  height: 565px;
  background-image: url(/assets/img/mainBannerEarring.png);
  background-repeat: no-repeat;
  background-size: auto;
  color: #ffffff;
  margin-right: 26px;
  margin-top: 24px;
}

.product-highlights__image--strong {
  width: 300px;
  font-family: "Ovo";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.product-highlights__image--text {
  width: 315px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 44px;
  margin-top: 15px;
}

.product-highlights__products-slick {
  width: 53.2%;
}

.product-highlights__products-slick .slick-arrow {
  border: 0;
  font-size: 0;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  background-color: rgba(141, 148, 186, 0.3);
  background-image: url(/assets/img/swipper-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-highlights__products-slick .slick-disabled {
  background-color: rgba(141, 148, 186, 0.1);
  opacity: 0.3;
}

.product-highlights__products-slick .slick-prev {
  left: -60px;
}

.product-highlights__products-slick .slick-next {
  right: -60px;
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.product-highlights__products-slick .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 44px;
}

.product-highlights__products-slick .slick-dots li button {
  border: 0;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.product-highlights__products-slick .slick-dots .slick-active button {
  background-color: #8D94BA;
}

.second-main-banner__text--button {
  width: 253px;
}

.instafeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 111px 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-top: 1px solid rgba(138, 108, 143, 0.1);
  border-bottom: 1px solid rgba(138, 108, 143, 0.1);
  margin-top: 55px;
}

.instafeed__container {
  width: 1300px;
  margin: 0 auto;
}

.instafeed__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #5C5762;
}

.instafeed__title--strong {
  font-weight: 700;
}

.instafeed__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 13px;
}

.instafeed__text {
  width: 680px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #9A7AA0;
}

.instafeed__text--span {
  font-weight: 300;
  margin-top: 12px;
  display: inline-block;
}

.instafeed__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instafeed__social-media__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #9A7AA0;
  margin-right: 20px;
}

.instafeed__social-media--icon:first-child {
  margin-right: 31px;
}

.instafeed__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
  width: 100%;
}

.instafeed__photos--item {
  width: 204px;
  height: 204px;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */