@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&family=Ovo&display=swap');

$darkPurple: #614B65;
$purble: #9A7AA0;
$white: #ffffff;
$green: #749497;
$lightGreen: #B4EDD2;
$lilac: #542D84;
$lightLilac: #8D94BA;
$grey: #C4C4C4;
