/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&family=Ovo&display=swap");
* {
  font-family: sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.header__informations-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #614B65;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.header__informations-top--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 300;
}

.header__informations-top--text::before {
  content: '';
  width: 1px;
  height: 12px;
  background-color: #ffffff;
  display: inline-block;
  margin: 0 5px;
}

.header__informations-top--text:first-child::before {
  display: none;
}

.header__informations-top--highlight {
  font-weight: 700;
  margin-left: 5px;
}

.header__informations-top--highlight:nth-child(3) {
  margin-left: 0;
  margin-right: 5px;
}

.header__informations-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__informations-top-wrap::before, .header__informations-top-wrap::after {
  content: '';
  height: 10.8px;
  width: 8.3px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-right: 20px;
}

.header__informations-top-wrap::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 0;
  margin-left: 20px;
}

.menu {
  background-color: #9A7AA0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 110px;
}

.menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1210px;
}

.menu__logo-store {
  font-family: 'Ovo', serif;
  font-size: 3rem;
  line-height: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 31px;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.menu__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 780px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu__nav-list--item {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.menu__nav-list__nav--icon {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=style.css.map */