/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&family=Ovo&display=swap");
* {
  font-family: sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #9A7AA0;
}

.header__informations-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #614B65;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.header__informations-top--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 300;
}

.header__informations-top--text::after {
  content: '';
  width: 1px;
  height: 12px;
  background-color: #ffffff;
  display: inline-block;
  margin: 0 5px;
}

.header__informations-top--text-highlight {
  font-weight: 700;
  margin-left: 5px;
}

.header__informations-top--text-highlight:nth-child(3) {
  margin-left: 0;
}

.header__informations-top--text-margin {
  font-weight: 300;
}

.header__informations-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__informations-top-wrap::before, .header__informations-top-wrap::after {
  content: '';
  height: 10.8px;
  width: 8.3px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-right: 20px;
}

.header__informations-top-wrap::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 0;
  margin-left: 20px;
}

.menu {
  background-color: #9A7AA0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1210px;
  width: 100%;
}

@media (max-width: 1024px) {
  .menu {
    margin: 0 5%;
  }
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo--text {
  font-family: 'Ovo', serif;
  font-size: 3rem;
  line-height: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  width: 238px;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 100%;
  margin: 0 31px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu__nav-wrapper {
  position: relative;
}

.menu__nav-department-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 780px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu__nav-department-list--item {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__nav-wrapper--category {
  position: absolute;
  top: 100%;
  left: -50%;
  text-transform: none;
  background: #ffffff;
  width: 194px;
  border-top: 6px solid #614B65;
  -webkit-box-shadow: 2px 2px 5px #C4C4C4;
          box-shadow: 2px 2px 5px #C4C4C4;
}

.menu__nav-category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #302E2B;
  font-weight: 400;
  font-size: 0.8125rem;
  width: 100%;
  height: 40px;
}

.menu__nav-category-list:hover {
  background-color: #F1F1F1;
}

.menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
  max-width: 135px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */